@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;1,100&display=swap");

:root {
  --one: #f4d2b9;
  --two: #d9b092;
  --three: #e1c2b0;
  --four: #f1cb9c;
  --five: #c3c1ac;
  --six: #e7e5d9;
  --seven: #f1e9d6;
  --dark: #072540;
}

@font-face {
  font-family: modernline;
  src: url("../fonts/modernline.otf") format("opentype");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
main {
  width: auto;
  display: flex;
  flex-direction: row;
  overflow-x: hidden;
  /* white-space: nowrap; */
  background-image: url(../images/fondoCafesPastel.webp);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
section {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
section .container-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container-section p {
  min-width: 300px;
  max-width: 500px;
}
.container-section img {
  width: 300px;
  height: auto;
  margin: 32px 0;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.section-title {
  width: 300px !important;
}
#start-section {
  min-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}
.start-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-top: 50px; */
  position: relative;
}
.img-backgound {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 100vh;
  background-image: url(../images/fondo-machines.png);
  /* background-repeat: no-repeat; */
  background-position: center;
  background-size: cover;
  opacity: 0.9;
  z-index: 0;
}
.start-container img {
  z-index: 2;
  opacity: 0.7;
  margin-top: 10%;
  width: 400px;
}
.start-content {
  z-index: 2;
  position: absolute;
  top: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.start-container h1 {
  margin: 8px 0;
  text-align: center;
  font-size: 100px;
  font-family: modernline;
  font-weight: bolder;
  text-shadow: 3px 3px var(--one);
}

button {
  background-color: var(--two);
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 4px;
  margin: 18px 0 16px 0;
  font-family: "Poppins", sans-serif;
  box-shadow: 0 0 8px rgb(207, 207, 207);
}
form {
  background-color: var(--five);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;
  border-radius: 4px;
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2),
    0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12);
}
form h3 {
  margin-bottom: 16px;
  text-align: center;
}
.hidden {
  display: none;
}
.rotate-left {
  transform: rotate(4deg);
}
.rotate-right {
  transform: rotate(-4deg);
}
.btn-color {
  background-color: var(--one) !important;
}
.circle {
  border-radius: 50%;
}
.images-collection {
  display: flex;
  flex-direction: row;
}
/* helpers */
.square {
  width: 500px;
  height: 500px;
}
.red {
  background-color: red !important;
}
.blue {
  background-color: blue;
}
